@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
}
.Banner {
    width: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(123,17,17);
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 55px;
}