@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0px;
}

table {
    border-collapse:collapse;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

tr {
    padding-bottom:5px
}

.Num-td {
    width: 70px;
    display: table-cell;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(0,19,184);
    color: white;
}

.Name-td {
    width: 80px;
    display: table-cell;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(203,39,39);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
}

.Stat-td {
    width: 50px;
    display: table-cell;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(123,17,17);
    color: white;
}

.center {
    display: flex;
    justify-content: center;
}
